#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* ------------------------------------------  */

.main-container {
  width: 400px;
  height: 300px;
  position: relative;
}

.div1 {
  z-index: 100;
  width: 400px;
  height: 440px;
  background-color: #5a5f7319;
  position: absolute;
}

.div2 {
  width: 400px;
  height: auto;
  background-color: blue;
  transform-origin: top;
  margin-bottom: 0 !important;
}

.div3 {
  width: 400px;
  height: 20px;
  background-color: yellow;
  transition: transform 0.4s ease;
}

.div4 {
  z-index: 1000;
  width: 400px;
  height: 120px;
  background-color: olive;
  transition: transform 0.4s ease;
  position: inherit;
}

ul {
  margin: 0;
}

.div2 {
  transition: transform 0.3s;
}

.div2.scaled {
  transform: scale(0.6);
}
