#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

----------------------------- .main_container-info_marcas {
  width: 90%;
  margin: auto;
}

.title-info-marcas {
  width: 100%;
  font-size: 1.56rem;
  font-weight: 600;
}

.subtitle-info-marcas {
  font-size: 1.56rem;
  font-weight: 600;
}

.image-wrapper-container-info_marcas {
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.image-wrapper-container-info_marcas.ms-edge {
  background-color: aquamarine;
}

.container-info_marcas {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  flex-basis: 20%;
}

.img-list_marca {
  width: auto;
  height: 22%;
}

.element-info_marcas {
  position: relative;
  height: 310px;
  margin-right: auto;
  margin-left: auto;
  transform-origin: top;
  transition: all 0.96s ease;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
}

.efect-tl-info_marcas {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.element2-info_marcas {
  text-align: left;
  height: 60px;
  margin-left: 20px;
  margin-right: 20px;
  border-top: 1px solid #e3e7e7;
  padding-top: 11px;
  background-color: blue;
  position: absolute;
  left: 0;
  right: 0;
  top: 70%;
}

.element3-info_marcas {
  display: flex;
  justify-content: center;
  height: 60%;
  margin-top: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(80%);
  transition: all 1.4s ease;
}

.element3-info_marcas > ul {
  width: 70%;
  border-top: 1px solid #2525253b;
  padding-top: 6px;
  padding-left: 20px;
  margin: 0;
}

.element3-info_marcas > ul > li {
  text-decoration: none;
  list-style: none;
  line-height: 1.8;
  font-size: 0.85rem;
}

.element3-info_marcas > ul > li > a {
  color: #000000;
}

.efect-tl-info_marcas:hover ~ .element-info_marcas {
  transform: scale(0.6);
  transition-property: transform;
  transition-duration: 400ms;
  transition-timing-function: linear;
  transition-delay: 0.06s;
}

.efect-tl-info_marcas:hover ~ .element3-info_marcas {
  transform: translateY(-100%);
  transition-property: transform;
  transition-duration: 450ms;
  transition-timing-function: linear;
  transition-delay: 0.1;
}

ul.info_marcas {
  position: relative;
  z-index: 101;
}

.logos-container {
  overflow: hidden;
  margin: 2rem auto 15% auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.logos-list {
  margin: auto;
}

.marca_wrapper {
  float: left;
  margin: 20px;
  width: 15%;
}

.circle-marca-wrapper {
  border-radius: 50%;
  width: 95%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-marca-wrapper img {
  max-height: 100%;
}

.logo-list_marca {
  max-width: 100%;
  max-height: 70%;
}

.efect-tl-info_marcas {
  pointer-events: auto;
  z-index: 100;
}

.element3-info_marcas {
  pointer-events: auto;
  z-index: 1000;
}

@media only screen and (min-width: 1600px) {
  .marca_wrapper {
    margin: 50px !important;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1600px) {
  .container-info_marcas {
    flex-basis: 33%;
  }

  .marca_wrapper {
    margin: 40px !important;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
  .title-info-marcas {
    font-size: 1.56rem !important;
    margin-bottom: 2rem !important;
    margin: 0 auto;
  }

  .container-info_marcas {
    flex-basis: 50% !important;
    height: 160px !important;
    margin: 0 auto;
  }

  .element-info_marcas {
    height: 240px;
    align-items: start !important;
    margin: 0 auto;
  }

  .element3-info_marcas {
    height: 46% !important;
    top: 76% !important;
  }

  .img-list_marca-2 {
    height: 26% !important;
    width: 50%;
    margin: 0 auto;
  }

  .img-list_marca-4 {
    height: 20% !important;
    margin: 0 auto;
  }

  .img-list_marca-3 {
    height: 39% !important;
    width: 140px;
    margin: 0 auto;
  }

  .img-list_marca-1 {
    height: 15% !important;
    width: 100%;
    margin: 0 auto;
  }

  .img-list_marca-5 {
    height: 34% !important;
    margin: 0 auto;
  }

  #mobile-container-info_marcas {
    height: 280px !important;
  }

  .container-info_marcas:last-of-type > .element3-info_marcas {
    height: 60% !important;
  }
}

@media only screen and (max-width: 700px) {
  .container-info_marcas {
    flex-basis: 100%;
  }

  #mobile-container-info_marcas {
    display: flex;
    height: 310px !important;
  }

  .main_container-info_marcas {
    display: flex;
    flex-direction: column;
    margin-bottom: 15% !important;
  }

  .image-wrapper-container-info_marcas {
    order: 2;
  }

  .logos-container {
    order: 1;
  }

  .logos-container {
    margin: 5% auto !important;
  }

  .marca_wrapper {
    margin: 9px !important;
  }

  .title-info-marcas,
  .subtitle-info-marcas {
    font-size: 1.25rem !important;
  }

  .title-info-marcas {
    margin: 2.8rem 0 2.8rem 0 !important;
  }

  .container-info_marcas {
    flex-basis: 50%;
    height: 160px !important;
  }

  .element-info_marcas {
    height: 190px !important;
    padding-bottom: 0rem !important;
    align-items: start !important;
    margin-left: 0 !important;
  }

  .element3-info_marcas {
    height: 45% !important;
    top: 76% !important;
  }

  .img-list_marca-2 {
    height: 25% !important;
    padding-top: 8px;
  }

  .element3-info_marcas > ul {
    width: 80% !important;
  }

  .img-list_marca-3 {
    width: 80%;
    height: 34%;
  }

  #mobile-container-info_marcas {
    margin: 0 auto !important;
  }

  .container-info_marcas:last-of-type > .element3-info_marcas {
    top: 64% !important;
  }
}

@media only screen and (max-width: 480px) {
  #mobile-container-info_marcas {
    height: 275px !important;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }

  #mobile-container-info_marcas > .element3-info_marcas {
    top: 64% !important;
  }

  .container-info_marcas {
    flex-basis: 75% !important;
    margin: auto !important;
  }

  .element3-info_marcas > ul {
    width: 60% !important;
  }

  .element3-info_marcas > ul {
    margin: 0px auto 0px 0px !important;
  }

  .element3-info_marcas > ul > li {
    line-height: 1.6;
    font-size: 0.7rem;
  }

  .marca_wrapper {
    width: 29% !important;
  }
}
